<!DOCTYPE html>
<html>
<head lang="en">
    <script type="text/javascript">
        var _oztime = (new Date()).getTime();
    </script>
    <script type="text/javascript" src="/js/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/active/css/actives.css">
    <script src="/js/slider.js" type="text/javascript"></script>
    <script src="/js/util/tools.js" type="text/javascript"></script>
</head>
<body>
<!--活动页内容-->
<div class="actives" style="overflow:-Scroll;overflow-x:hidden">
    <div class="activesBan">
        <img src="/active/images/201702qingrenjie/01.jpg" alt="" />
    </div>


 <div class="fenlei" >
      <div class="fenleiPic">
	<a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114184219000522?ssid={{ssid}}">
          <img src="/active/images/201702qingrenjie/02.jpg" alt="" />
	</a>
      </div>
      </div>
    

     <div class="fenleiCon" style="background-image:url(/active/images/201702qingrenjie/bg1.jpg);">

     <div class="pica" style="padding-top:20px;">
                
		<a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170112183158000556?ssid={{ssid}}">
                    <img class="picaimg" src="/active/images/201702qingrenjie/03.jpg" width="490" height="490" style="margin-right:20px;"/>
	        </a>
              
                <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114175832000839?ssid={{ssid}}">
                   <img class="picaimg" src="/active/images/201702qingrenjie/04.jpg" width="490" height="490" />
                </a>                
             </div>  
      </div>

     <div class="fenlei" >
     <div class="fenleiPic" style="height:400px">
	            <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160517150544000173?ssid={{ssid}}">
                       <img src="/active/images/201702qingrenjie/05.jpg" alt="" />
	            </a>
               </div>
           </div>

    <div class="fenleiCon" style="background-image:url(/active/images/201702qingrenjie/bg2.jpg);">
    <div class="picb">
                <div>
                    <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170123142037000243?ssid={{ssid}}">
                    <img src="/active/images/201702qingrenjie/06.jpg" />
                    </a>
                </div>

                <div>
                    <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170123170037000611?ssid={{ssid}}">
                    <img src="/active/images/201702qingrenjie/07.jpg" />
                    </a>
                </div>

                <div>
                    <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170123154906000878?ssid={{ssid}}">
                    <img src="/active/images/201702qingrenjie/08.jpg" style="margin-right:10px;" />
                    </a>
                </div>

                <div>
                    <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161123113822000312?ssid={{ssid}}">
                    <img src="/active/images/201702qingrenjie/09.jpg" />
                    </a>
                </div>

                <div>
                    <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170208150345000816?ssid={{ssid}}">
                    <img src="/active/images/201702qingrenjie/10.jpg" />
                    </a>
                </div>

                <div>
                    <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170208145048000268?ssid={{ssid}}">
                    <img src="/active/images/201702qingrenjie/11.jpg" style="margin-right:10px;" />
                    </a>
                </div>
            </div>
    </div>

      <div class="fenlei" style="background-image:url(/active/images/201702qingrenjie/bg3.jpg);">
      <div class="fenleiPic">
	            <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170120154616000635?ssid={{ssid}}">
                       <img src="/active/images/201702qingrenjie/12.jpg" alt="" />
	            </a>
               </div>

           </div>

      <div class="fenleiPic" style="background-image:url(/active/images/201702qingrenjie/bg3.jpg);height:400px">
	            <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161223173732000456?ssid={{ssid}}">
                       <img src="/active/images/201702qingrenjie/13.jpg" alt="" />
	            </a>
               </div>

           </div>    

     <div class="fenleiCon" style="background-image:url(/active/images/201702qingrenjie/bg3.jpg);">

     <div class="pica">
                
		<a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170209173556000268?ssid={{ssid}}">
                    <img class="picaimg" src="/active/images/201702qingrenjie/14.jpg" width="490" height="490" style="margin-right:20px;"/>
	        </a>
              
                <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170209174005000433?ssid={{ssid}}">
                   <img class="picaimg" src="/active/images/201702qingrenjie/15.jpg" width="490" height="490" />
                </a>

           </div>

     <div class="picb" style="padding-bottom:30px;">
                <div>
                    <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161214143245000717?ssid={{ssid}}">
                    <img src="/active/images/201702qingrenjie/16.jpg" />
                    </a>
                </div>

                <div>
                    <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161223112550000671?ssid={{ssid}}">
                    <img src="/active/images/201702qingrenjie/17.jpg" />
                    </a>
                </div>

                <div>
                    <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161215163044000221?ssid={{ssid}}">
                    <img src="/active/images/201702qingrenjie/18.jpg" style="margin-right:10px;" />
                    </a>
                </div>

                <div>
                    <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160526112428000267?ssid={{ssid}}">
                    <img src="/active/images/201702qingrenjie/19.jpg" />
                    </a>
                </div>

                <div>
                    <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160902163133000610?ssid={{ssid}}">
                    <img src="/active/images/201702qingrenjie/20.jpg" />
                    </a>
                </div>

                <div>
                    <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160830103014000631?ssid={{ssid}}">
                    <img src="/active/images/201702qingrenjie/21.jpg" style="margin-right:10px;" />
                    </a>
                </div>

            </div>      

       
           </div>
         </div>
       </div>
     </div>


<!--站长统计-->
<div style="display:none;">
    <script src="http://s95.cnzz.com/z_stat.php?id=1259904039&web_id=1259904039" language="JavaScript"></script>
</div>
<iframe src="#" id="iframeA" name="iframeA" style="display: none;"></iframe>

<!--<script type="text/javascript" src="/js/jquery/jquery.timers.js"></script>-->
<script type="text/javascript" src="/js/util/contentloaded.js"></script>
<script type="text/javascript">
    /**
     * 获取fixHeightUrl
     * @returns {string}
     */
    var getTyHostUrl = function() {
        var _url = "";
        $.ajax({
            url: "/jf189/ty/hostUrl",
            type: 'get',
            async: false,
            dataType:'json',
            success: function (data) {
                _url = data.url;
            }
        });
        return _url;
    }
    var getIP = function(){
        var province = '';
        var ip = getIPv4(function(ip){
            $.ajax({
                url: "/nnc/province?clientIp=" + ip,
                type: 'get',
                dataType: 'json',
                success: function (rdata) {
                    if(rdata.status === 200) {
                        province = rdata.data.provinceId;
                    }
//                    window.location.href = _randerUrl + "&provinceId=" + province + "&storehouseId=-1";
                }
            });
        });
        return province;
    }
    $(function(){
//            contentLoaded(resizeIfr);
        resizeIfr();
        var province = getIP() || 110000;
        $("a.detail").on("click",function(){
            var href=$(this).attr("data_href")+ "&provinceId=" + province + "&storehouseId=-1";
            $(this).attr("href",href);
        });
    });
    function resizeIfr() {
        var _tyHostUrl = getTyHostUrl();
        var doc = document;
//        var height = calcPageHeight(doc);
        var myifr = doc.getElementById('iframeA');
        myifr.src = _tyHostUrl + '/CommPage/fixHeight.html#3630';
    }

    // 计算页面的实际高度，iframe自适应会用到
    function calcPageHeight(doc) {
        var h = $(document.body).height();

        var cHeight = Math.max(doc.body.clientHeight, doc.documentElement.clientHeight)
        var sHeight = Math.max(doc.body.scrollHeight, doc.documentElement.scrollHeight)
        var height  = Math.max(cHeight, sHeight)
        console.log("cH:"+cHeight+"| sH:"+sHeight+"| h:" +h);
        return height;
    }
</script>
</body>
</html>