<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript">
        var _oztime = (new Date()).getTime();
    </script>
    <script type="text/javascript" src="/js/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/index/css/index.css">
    <script src="/js/slider.js" type="text/javascript"></script>
    <script src="/js/util/tools.js" type="text/javascript"></script>
</head>
<body>
<div class="banner">
    <!-- 轮播广告 -->
    <input type="hidden" name="ssid" id="ssid" value="{{ssid}}">
    <div id="banner_tabs" class="flexslider">
        <ul class="slides" style="overflow:hidden;">
            <li >
                <!--<a class="" title="" target="_self" href="http://ct100.jfshare.com/active/fuqingsong">-->
                    <!--&lt;!&ndash;活动页&ndash;&gt; &lt;!&ndash;敷轻松百分尊享&ndash;&gt;-->
                    <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/17DC0D94CC82E341EAA8A4A3CB726442.jpg" width="" height="" alt="" >-->
                <!--</a>-->
                <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160908104745000903?ssid={{ssid}}">
                    <!--玉兰油-->
                    <img src="http://proxy.jfshare.com/system/v1/jfs_image/17DC0D94CC82E341EAA8A4A3CB726442.jpg" width="" height="" alt="" >
                </a>
            </li>
            <li>
                <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161109171219000704?ssid={{ssid}}">
                    <!--行车记录仪-->
                    <img src="http://proxy.jfshare.com/system/v1/jfs_image/023E7E1ED7C26DA0BD6B5AB1F49002BA.jpg" width="" height="" alt="" >
                </a>
            </li>

            <li >
                <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114183855000478?ssid={{ssid}}">
                    <!--大米-->
                    <img src="http://proxy.jfshare.com/system/v1/jfs_image/CFB6669EAAB51E31A8A5954BF209C8B9.jpg" width="" height="" alt="" >
                </a>
            </li>

            <li >
                <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160831174235000322?ssid={{ssid}}">
                    <img id="bannerImg_1"  src="http://proxy.jfshare.com/system/v1/jfs_image/DD5D1A0058BAD88DD3C353F26D4BA706.jpg" width="" height="" alt="" >
                </a>
            </li>
            <li >
                <!--<a title="" target="_parent" href="http://ct100.jfshare.com/jf189/orders?ssid={{ssid}}">-->
                <a class="detail" title="" target="_self" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161130101126000893?ssid={{ssid}}">
                    <img src="http://proxy.jfshare.com/system/v1/jfs_image/33F433C71D12AA6E3E9909DAEB12EF3D.jpg" width="" height="" alt="" >
                    <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/EB7401AC4847BFE3C8537016A7498803.jpg" width="" height="" alt="" >-->
                </a>
            </li>

        </ul>
        <ul class="flex-direction-nav">
            <li><a class="flex-prev" href="javascript:;">上一张</a></li>
            <li><a class="flex-next" href="javascript:;">下一张</a></li>
        </ul>
        <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a>4</a></li>
        </ol>
    </div>
</div>
<div class="content">
    <ul class="title">
        <li>热卖单品</li>
        <li>每周新品</li>
        <li>好评单品</li>
        <li>品牌推荐</li>
    </ul>
    <div class="titlecon one">
        <div class="per" style="width: 238px;">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160906144154000430?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/F9AA3D0DEE204F1A849EA8DEC99F814C.jpg" width="238px" height="286px" alt="">
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160906150633000485?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/2CC863DBFB5A978E8006C13D35C1BBA4.jpg" width="236px" height="286px" alt="">
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160416185630000955?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/D65940B96D5A4FC872C6067EEC9C90B4.jpg" alt="">
                <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/9013896C93B5F899A1119CF79EE60C3E.jpg" alt="">-->
            </a>
        </div>
        <div class="per"> <!--ze160902162225000073-->
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114183824000419?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/1A61E97D509099A1819718519A1B0906.jpg" alt="">
                <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/C29F69DB6FC1131317C6F897C80E1F5F.jpg" alt="">-->
            </a>
        </div>
        <div class="per" style="width: 238px;margin-right: 0px;"> <!--ze161114183850000251 -->
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114183850000251?ssid={{ssid}}">
            <img src="http://proxy.jfshare.com/system/v1/jfs_image/653E597395509E838C0D7E5853E42EF3.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="titlecon one" style="display: none;">
        <div class="per" style="width: 238px;">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160902141107000182?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/5AE4AA913926ED5D7D997ACB07432E5F.jpg" alt="">
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170218170953000146?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/B5B68BBC123144B8DE9D572080483879.jpg" alt="">
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170218113627000001?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/CD80A6144591651729FC013582C15840.jpg" alt="">
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161215162343000166?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/AABC9561CAC1E4CF5F622AB55C7F3A92.jpg" alt="">
            </a>
        </div>
        <div class="per" style="width: 238px;margin-right: 0px;">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161123120203000077?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/1CC791F41B2C16B51522E974D9CFAD42.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="titlecon one" style="display: none;">
        <div class="per" style="width: 238px;">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170215162829000182?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/069514D221650BB279BD56DC33ACB932.jpg" alt="">
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160823140612000604?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/CD682874033F42E03C6C8FEA4153E362.jpg" alt="">
                <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/CF9ADC5D07B3B55B532D9C32AE0E8BF6.jpg" alt="">-->
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160505103431000720?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/8B858820572CDC941281D9CE3F3CD91C.jpg" alt="">
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161201162907000621?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/A1D940C158DF968C396C77B036A1FD1C.jpg" alt="">
            </a>
        </div>
        <div class="per" style="width: 238px;margin-right: 0px;">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160805125007000212?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/192FAF3F79FFFA403D52A4968794F842.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="titlecon one" style="display: none;">
        <div class="per" style="width: 238px;">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170218151349000081?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/DA0789B89D4CF6BF67207C856958884E.jpg" alt="">
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114183855000401?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/831115F2166E9840430B130AAA990B14.jpg" alt="">
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160902155146000495?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/F1342EBB1F58A007A233FB45F573C252.jpg" alt="">
                <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/21E759A7AE968AF24A03C3B9E073B89F.jpg" alt="">-->
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160630092153000644?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/2F81A25B692041142E1EAA095561ED4A.jpg" alt="">
            </a>
        </div>
        <div class="per" style="width: 238px;margin-right: 0px;">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160526111619000994?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/FC213E13A162873DF14B550DAA846D52.jpg" alt="">
            </a>
        </div>
    </div>

    <div class="title2">
        <div class="hrs">
            <hr class="xian">
        </div>
        <div class="menu" style="color: #ff8200;">百分尊享特惠区</div>
        <div class="hrs">
            <hr class="xian">
        </div>
    </div>
    <div class="titlecon">
        <div class="per" style="width: 238px;">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160919145750000193?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/5D88992D464A273B77071ED0EA3905F0.jpg" width="236px" height="138px" alt="">
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160913155141000751?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/EF0E16444209333A744FAC6638A20B14.jpg" alt="">
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160422105028000704?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/C3AADAE436771D403C7BEAECA481A210.jpg" alt="">
            </a>
        </div>
        <div class="per">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160513155131000579?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/3EBCAC3DE5EF04D8B98048E82A2494B3.jpg" alt="">
            </a>
        </div>
        <div class="per" style="width: 238px;margin-right: 0px;">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160927094857000186?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/62A7A82608C070A32730513D6A928F84.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="proTitle" style="color: #219fed;">
        <div class="arrow-right"><!--向右的三角--></div>
        手机数码&nbsp;Mobile digital
    </div>
    <div class="proContent">
        <div class="left">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160622095756000345?ssid={{ssid}}">
                <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/3294192ACCE9C775EEF4380EA5B01DB5.jpg" alt="">-->
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/E56E6BC0A307F6DD7204780046453720.jpg"width="236px" height="443px" alt="">
            </a>
        </div>
        <div class="right">
            <div class="rtop">
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160419181105000771?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/1672625F61CF840EEFF09C3DC9BA027A.jpg" alt="">
                    </a>
                </div>
                <div class="pic" style="width:476px;">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160919111153000288?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/FEC926FC7ED65F12BAE27E3786EBF302.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170117144850000589?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/27D4EC48B3C0CA92D2325F8618E66D1E.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="rtop">
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161207145510000772?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/82A76B8A11BCF968FFF72FD3CFF9D1A3.jpg" alt="">
                    </a>
                </div>
                <div class="pic" style="height: 220px">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161207114840000836?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/7D3A877A53826C80118E205C67EBB372.jpg" alt="">
                    </a>
                </div>
                <div class="pic" style="height: 220px">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160919144252000977?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/A40267FB3591B32247DD3D63B84C49F8.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160415095618000093?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/918E49E94B44BE2CC4857A61CEF1E0E8.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="proTitle" style="color: #ff8200;">
        <div class="arrow-right" style="border-left: 10px solid #ff8200;"><!--向右的三角--></div>
        家用电器&nbsp;Household appliances
    </div>
    <div class="proContent">
        <div class="left">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160902173920000905?ssid={{ssid}}">
                <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/450BF43AC402E2A956DC1A64E05B78BB.jpg" alt="">-->
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/E1C91AA6AF7E54C10AE598BA7E7B9DFE.jpg" alt="">
            </a>
        </div>
        <div class="right">
            <div class="rtop">
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160902171900000097?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/E914B239F921D7F365C2535E6A74281F.jpg" alt="">
                        <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/23ABD0433316475B40B35C9929FC0A52.jpg" alt="">-->
                    </a>
                </div>
                <div class="pic" style="width:476px;">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160416194731000786?ssid={{ssid}}">
                        <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/F3F72962096799B27EDB939D47E6E591.jpg" alt="">-->
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/CDBE511A145A93E488ADEFC052982D4E.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160902163133000610?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/2B9CD4AF1E923A4694B020F7E43AC850.jpg" alt="">
                        <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/54BE92E233695813BB1D9343D4E86363.jpg" alt="">-->
                    </a>
                </div>
            </div>
            <div class="rtop">
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160718140745000312?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/885D36B3005E307545097407C48DD860.jpg" alt="">
                    </a>
                </div>
                <div class="pic" style="height: 220px">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170218121156000618?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/852E01462D1C670C52B48C49924F9263.jpg" alt="">
                    </a>
                </div>
                <div class="pic" style="height: 220px">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160519143625000015?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/FD558282515E27980BD817F88DF38591.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160526100943000314?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/3FB862EB3FA975F69ACBD35ACFF2D4E4.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="proTitle" style="color: #73a508;">
        <div class="arrow-right" style="border-left: 10px solid #73a508;"><!--向右的三角--></div>
        家居生活&nbsp;Household life
    </div>
    <div class="proContent">
        <div class="left">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161128180418000459?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/10580515EB2AAD9E08645E0F719CDA64.jpg" alt="">
                <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/13CAC54DA25D62A11E4CFAA2C576CCB8.jpg" alt="">-->
            </a>
        </div>
        <div class="right">
            <div class="rtop">
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160823170633000555?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/F4D8BAC76D943D8E5DDC5A3BC3FA5C87.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160416203438000540?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/C46078CB13AD4DBC1F2313057136BC76.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161124162503000499?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/78BB685307374B7D020607E41C12008C.jpg" alt="">
                    </a>
                </div>

                <!--div class="pic" style="width:480px;">
                    <a href="http://ct100.jfshare.com/product/render/ze160416203438000540?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/C46078CB13AD4DBC1F2313057136BC76.jpg" alt="">
                    </a>
                </div -->
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160823143142000210?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/AC1EDC967EA97F4B69C435857BB4D251.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="rtop">
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160513174429000179?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/E88C3F4046D5BCCD1C967D1E2E806231.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160623164250000986?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/F42F0CB3FB6E81196057D25C6AE0F7D3.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160805130307000485?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/349B722B700B9EF5CE28F496EE4B0246.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161101185157000046?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/5000993AA52F60C15B3529D53C9DBDDA.jpg" alt="">
                        <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/8B26E5D18CCD95735C0A2DD85DE5A256.jpg" alt="">-->
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="proContent" style="padding-top: 10px;">
        <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160627113021000062?ssid={{ssid}}">
            <img src="http://proxy.jfshare.com/system/v1/jfs_image/D45C343AC8C2F7AD652A54E71CA37EDE.jpg" alt="">
            <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/9E23C94FDD2305A120B291B1A616F19B.jpg" alt="">-->

        </a>
    </div>
    <div class="proTitle" style="color: #e6118f;">
        <div class="arrow-right" style="border-left: 10px solid #e6118f;"><!--向右的三角--></div>
        个护美妆&nbsp;Protect beauty makeup
    </div>
    <div class="proContent">
        <div class="left">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170216162349000022?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/756BBB50260BFDE8895AC0DCEF9FE1CF.jpg" alt="">
            </a>
        </div>
        <div class="right">
            <div class="rtop">
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160802165746000563?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/79EEE62994B2C5A48E0A312A06229ECB.jpg" alt="">
                        <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/6B36201D6514C5321BE5810AC21C1858.jpg" alt="">-->
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160517145732000005?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/154867BC3CBDE11E56BAD207A2BFB189.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170215154248000930?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/BB17ABFB05FE17120FEEBAC458516C07.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160908153418000439?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/B638CFEDF12F445BD890E38009A1B7E7.jpg" alt="">
                        <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/A4B62058CC2CEA520E4D433975AB7383.jpg" alt="">-->
                    </a>
                </div>
            </div>
            <div class="rtop">
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160518142025000267?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/A8621645A3FBAED534EF7F3CE3437266.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170215175032000540?ssid={{ssid}}">
                        <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/7E7FB7B7F237126E73AE017842583348.jpg" alt="">-->
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/B330A51FA058FE378DBBCF981B2C363D.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160907105742000529?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/2C4288D98D79AF07120CA8D4EA512B19.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160908152638000867?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/747D17FC43BEC6C92B6282DA95BF619B.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="proTitle" style="color: #815541;">
        <div class="arrow-right" style="border-left: 10px solid #815541;"><!--向右的三角--></div>
        食品酒水&nbsp;Food and beverage
    </div>
    <div class="proContent">
        <div class="left">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114183757000663?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/FE4F817FD6712B35A9E45A300211E555.jpg" alt="">
            </a>
        </div>
        <div class="right">
            <div class="rtop">
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114175118000679?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/4C65447A5D7B35AB369BEE26E3867AF8.jpg" alt="">
                    </a>
                </div>
                <div class="pic" style="width:475px;">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160419140226000640?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/A9C0B893D574653CFC81515091A9ED69.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114184256000056?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/1AEE39A7C97C29903FD913D82977D9EC.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="rtop">
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114183939000667?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/26FDFEAF99A742088F60C77631407CB6.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114183743000557?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/C90A691C802DD868548C03BB5EED2F03.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114184043000754?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/82E72B0E7B15C883271DC72F24A5355D.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114183706000865?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/230E8EE58A203365092DF215FA96D762.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="proTitle" style="color: #42866c;">
        <div class="arrow-right" style="border-left: 10px solid #42866c;"><!--向右的三角--></div>
        箱包配饰&nbsp;Luggage accessories
    </div>
    <div class="proContent">
        <div class="left">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160727104714000309?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/07AE539AE1E8D9CC910A96B6AC903F49.jpg" alt="">
            </a>
        </div>
        <div class="right">
            <div class="rtop">
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160711144308000141?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/AA90853DA5C3E229BDA7185230202FD2.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160516144816000796?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/202C323FA73CAE7D297F596396AE82B0.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160623092039000038?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/C0782B2BCFE21A68A7060E23843CC676.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161012102400000141?ssid={{ssid}}">
                        <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/2987B53D1CF402292CE9071ED743B701.jpg" alt="">-->
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/413EC09376C76F2B6DE87BFD3E5E4EF9.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="rtop">
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160418141745000789?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/BB6D060FAC5E9F85B18522E26623E955.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161214143245000717?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/9633E821F40ABD7A3FFC19D79D3E30AA.jpg" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161223112550000671?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/3C097A29D2F317913853B7F15E25D6B9.jpg" alt="">
                        <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/488F5AECB4F8571A25BD17F480660FA4.jpg" alt="">-->
                    </a>
                </div>
                <div class="pic">
                    <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160623170134000538?ssid={{ssid}}">
                        <img src="http://proxy.jfshare.com/system/v1/jfs_image/F21637381984DD9CBC638F8A1A2C8829.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="proContent" style="padding-top: 10px;">
        <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161011180852000791?ssid={{ssid}}">
            <img src="http://proxy.jfshare.com/system/v1/jfs_image/F66E78D159CFE60450941AD3F47FDD20.jpg" alt="">
        </a>
    </div>
    <div class="title2">
        <div class="hrs">
            <hr class="xian">
        </div>
        <div class="menu">猜你喜欢</div>
        <div class="hrs">
            <hr class="xian">
        </div>
    </div>
    <div class="proContent">
        <div class="goods">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160919101849000088?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/4F525211EAC296951203CA0943A1440D.png" alt="">
                <div style="overflow: hidden;">
                    <p class="goodname">德铂 特维尔套装刀具三件套 剪刀水果刀菜刀</p>
                    <div class="money">
                        <span class="red">6900</span> 积分
                    </div>
                    <div class="exchange">立即兑换</div>
                </div>
            </a>
        </div>
        <div class="goods">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114183712000935?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/1CFFA5A2DFBC203464A0C0C66A6A9AD7.jpg" alt="">
                <div style="overflow: hidden;">
                    <p class="goodname">【中粮海外直采】Perrier巴黎水含气天然矿泉水330ml(法国进口 瓶)</p>
                    <div class="money">
                        <span class="red">1200</span> 积分
                    </div>
                    <div class="exchange">立即兑换</div>
                </div>
            </a>
        </div>

        <!--替换之前商品-->
        <!--<div class="goods">-->
            <!--<a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161101185803000773?ssid={{ssid}}">-->
                <!--<img src="http://proxy.jfshare.com/system/v1/jfs_image/06975BFF03A29E0B863BD7556AF893BF.jpg" alt="">-->
                <!--<div style="overflow: hidden;">-->
                    <!--<p class="goodname">Febreze空气清新喷雾 户外清芬 275g</p>-->
                    <!--<div class="money">-->
                        <!--<span class="red">4900</span> 积分-->
                    <!--</div>-->
                    <!--<div class="exchange">立即兑换</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->

        <div class="goods">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze170321172730000634?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/978500DE46E4F04B1CC0F8CA816F2BDC.jpg" alt="">
                <div style="overflow: hidden;">
                    <p class="goodname">EP 钻石蓝牙音响</p>
                    <div class="money">
                        <span class="red">29900</span> 积分
                    </div>
                    <div class="exchange">立即兑换</div>
                </div>
            </a>
        </div>


        <div class="goods" style="margin-right:0;">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160517140328000213?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/15EA60B32BB3C6D4FDE5B31F2CB98A44.jpg" alt="">
                <div style="overflow: hidden;">
                    <p class="goodname">汉方研究所 日本进口贝壳蔬果洗菜粉 清除农药残留90g</p>
                    <div class="money">
                        <span class="red">9900</span> 积分
                    </div>
                    <div class="exchange">立即兑换</div>
                </div>
            </a>
        </div>

    </div>
    <div class="proContent">
        <div class="goods">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161114183650000521?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/0DC73270BF5ED88073D9A62D494FF5EB.jpg" alt="">
                <div style="overflow: hidden;">
                    <p class="goodname">雀巢 脆脆鲨巧克力味威化 640g</p>
                    <div class="money">
                        <span class="red">2890</span> 积分
                    </div>
                    <div class="exchange">立即兑换</div>
                </div>
            </a>
        </div>
        <div class="goods">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160512140437000873?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/3C1C15B3EF2C5DB4E6B9A7A5ECB6CBCF.jpg" alt="">
                <div style="overflow: hidden;">
                    <p class="goodname">明基（BENQ）音乐 通讯耳机 A101P 白色/黑色/红黑色</p>
                    <div class="money">
                        <span class="red">2900</span> 积分
                    </div>
                    <div class="exchange">立即兑换</div>
                </div>
            </a>
        </div>
        <div class="goods">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160922102502000535?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/0649FEA059EE59A0F6122091EDC70C62.jpg" alt="">
                <div style="overflow: hidden;">
                    <p class="goodname">德铂 普洛斯真空保温杯壶 户外旅行304不锈钢水壶套装&nbsp;</p>

                    <div class="money">
                        <span class="red">18800</span> 积分
                    </div>
                    <div class="exchange">立即兑换</div>
                </div>
            </a>
        </div>
        <div class="goods" style="margin-right:0;">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160415162145000165?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/4DACD07CF15AF7D11C885590A3A34C65.jpg" alt="">
                <div style="overflow: hidden;">
                    <p class="goodname">哆啦A梦 活力扣方形玻璃保鲜盒（两件套）DM-3194&nbsp;</p>
                    <div class="money">
                        <span class="red">6800</span> 积分
                    </div>
                    <div class="exchange">立即兑换</div>
                </div>
            </a>
        </div>

    </div>
    <div class="proContent">
        <div class="goods">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160422103708000618?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/EBABDF91953FD25896F68313F34E000A.jpg" alt="">
                <div style="overflow: hidden;">
                    <p class="goodname">JCPAL 1A单USB口充电器 本朴白/天空蓝/苹果绿/小桃红</p>
                    <div class="money">
                        <span class="red">3800</span> 积分
                    </div>
                    <div class="exchange">立即兑换</div>
                </div>
            </a>
        </div>
        <div class="goods">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160516143709000490?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/3E1ACB2C799CFA4535DBF9722B390127.jpg" alt="">
                <div style="overflow: hidden;">
                    <p class="goodname">千足珠宝眷属近圆光洁极亮6.5-7mm淡水珍珠银项链首饰饰品 白色</p>
                    <div class="money">
                        <!--<span class="red">100</span> 积分<br /><span class="red">+180</span> 元-->
                        <span class="red">26100</span> 积分
                    </div>
                    <div class="exchange">立即兑换</div>
                </div>
            </a>
        </div>
        <div class="goods">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze160518143159000275?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/7A89F67A51ADFC2B584AF0E33D921B3E.jpg" alt="">
                <div style="overflow: hidden;">
                    <p class="goodname">目元 日本进口222种果蔬生酵素*酵母 养颜排毒瘦身60粒/袋&nbsp;</p>
                    <div class="money">
                        <span class="red">17500</span> 积分
                    </div>
                    <div class="exchange">立即兑换</div>
                </div>
            </a>
        </div>
        <div class="goods" style="margin-right:0;">
            <a class="detail" href="javascript:void(0);" data_href="http://ct100.jfshare.com/product/ze161101190347000830?ssid={{ssid}}">
                <img src="http://proxy.jfshare.com/system/v1/jfs_image/2F0D7D1E45E5B1FF8A17441A9D93A56F.jpg" alt="">
                <div style="overflow: hidden;">
                    <p class="goodname">Febreze空气清新喷雾 浴后净香 275g&nbsp;</p>
                    <div class="money">
                        <span class="red">4900</span> 积分
                    </div>
                    <div class="exchange">立即兑换</div>
                </div>
            </a>
        </div>

    </div>


</div>
<!--站长统计-->
<div style="display:none;">
    <script src="http://s95.cnzz.com/z_stat.php?id=1259904039&web_id=1259904039" language="JavaScript"></script>
</div>
<iframe src="#" id="iframeA" name="iframeA" style="display: none;"></iframe>

<script type="text/javascript">
    //轮播播放程序
    var bannerSlider = new Slider($('#banner_tabs'), {
        time: 4000,
        delay: 400,
        event: 'hover',
        auto: true,
        mode: 'fade',
        controller: $('#bannerCtrl'),
        activeControllerCls: 'active'
    });
    $('#banner_tabs .flex-prev').on('click',function(){
        bannerSlider.prev();
    });
    $('#banner_tabs .flex-next').on('click',function(){
        bannerSlider.next();
    });

    //tab选项卡
    $(".title li").mouseover(function(){
        $(".title li").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
        $("div.one").hide().eq($(this).index()).show();

    });
</script>
<!--<script type="text/javascript" src="/js/jquery/jquery.timers.js"></script>-->
<script type="text/javascript" src="/js/util/contentloaded.js"></script>
<script type="text/javascript">
    /**
     * 获取fixHeightUrl
     * @returns {string}
     */
    var getTyHostUrl = function() {
        var _url = "";
        $.ajax({
            url: "/jf189/ty/hostUrl",
            type: 'get',
            async: false,
            dataType:'json',
            success: function (data) {
                _url = data.url;
            }
        });
        return _url;
    }
    var getIP = function(){
        var province = '';
        var ip = getIPv4(function(ip){
            $.ajax({
                url: "/nnc/province?clientIp=" + ip,
                type: 'get',
                dataType: 'json',
                success: function (rdata) {
                    if(rdata.status === 200) {
                        province = rdata.data.provinceId;
                    }
//                    window.location.href = _randerUrl + "&provinceId=" + province + "&storehouseId=-1";
                }
            });
        });
        return province;
    }
    $(function(){
//            contentLoaded(resizeIfr);
        resizeIfr();
        var naturalHeight = document.getElementById("bannerImg_1").naturalHeight || 470;
        var naturalWidth = document.getElementById("bannerImg_1").naturalWidth || 1200;
        var rate = naturalWidth/naturalHeight;
        var divWidth = $("div.banner").width();
        $("div.banner").height(divWidth/rate);
        window.onresize = function(){
            var naturalHeight = document.getElementById("bannerImg_1").naturalHeight || 470;
            var naturalWidth = document.getElementById("bannerImg_1").naturalWidth || 1200;
            var rate = naturalWidth/naturalHeight;
            var divWidth = $("div.banner").width();
            $("div.banner").height(divWidth/rate);
        }
        var province = getIP() || 110000;
        $("a.detail").on("click",function(){
            var href=$(this).attr("data_href")+ "&provinceId=" + province + "&storehouseId=-1";
            $(this).attr("href",href);
        });
    });
    function resizeIfr() {
        var _tyHostUrl = getTyHostUrl();
        var doc = document;
//        var height = calcPageHeight(doc);
        var myifr = doc.getElementById('iframeA');
        myifr.src = _tyHostUrl + '/CommPage/fixHeight.html#5711';
//        if (myifr) {
//            myifr.src = _tyHostUrl + '/CommPage/fixHeight.html#' + height;
//        } else {
//            myifr.src = _tyHostUrl + '/CommPage/fixHeight.html#1000';
//        }
    }

    // 计算页面的实际高度，iframe自适应会用到
    function calcPageHeight(doc) {
        var h = $(document.body).height();

        var cHeight = Math.max(doc.body.clientHeight, doc.documentElement.clientHeight)
        var sHeight = Math.max(doc.body.scrollHeight, doc.documentElement.scrollHeight)
        var height  = Math.max(cHeight, sHeight)
        console.log("cH:"+cHeight+"| sH:"+sHeight+"| h:" +h);
        return height;
    }
</script>
</body>
</html>
